{
  "presets": [
    [
      "next/babel",
      {
        "@babel/plugin-transform-runtime": {},
        "@babel/react": {},
        "@babel/env": {},
        "@babel/preset-typescript": {}
      }
    ]
  ],
  "plugins": []
}
